doctype html
html
  head
    title=title
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Shadows+Into+Light', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    script(src='/components/jquery/dist/jquery.min.js', type='text/javascript')
    script(src='/javascripts/main.js', type='text/javascript')
  body
    block content
