a
  color: #FFF
  text-decoration: none
a:hover
  text-decoration: underline
body
  font-family: 'Shadows Into Light', cursive
  margin: 0px
  overflow: hidden
header
  background-image: url(/images/bg.png)
  background-position: top center
  background-repeat: no-repeat
  background-size: 100% 50px
  bottom: 0px
  color: #FFF
  height: 50px
  left: 0px
  position: fixed
  width: 100%
  z-index: 9999
  h1
    font-size: 18px
    font-weight: normal
    letter-spacing: 2px
    margin: 18px 0px 0px 0px
    text-align: center;
  @media only screen and (max-width: 550px)
    h1
      display: none
    #left
      width: auto
    #right
      width: auto
iframe
  left: 0px
  top: 0px
  width: 100%
#frame
  z-index: 1000
#left
  float: left
  margin: 4px 5px
  width: 200px
  a
    vertical-align: top
  .report
    display: inline-block
    margin-left: 10px
    margin-top: 12px
#loader
  left: 0px
  margin-top: -70px
  position: fixed
  text-align: center
  top: 50%
  width: 100%
  z-index: -1
  a
    color: #3fcf7d
  img
    height: 64px
    width: 128px
  .text
    font-size: 10px
    padding-top: 10px
  .title
    font-size: 48px
    padding-bottom: 10px
#right
  float: right
  margin: 10px 0px
  text-align: right
  width: 200px
  a
    display: inline-block
    margin-left: 5px
    margin-top: 2px
    img
      height: 36px
      width: 36px
  span
    display: inline-block
    margin-top: 5px
    vertical-align: top
